<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="author" content="crsantos">
	<link rel="stylesheet" href="/media/css/grid.css" type="text/css" media="screen" title="no title"
	<link rel="stylesheet" href="/media/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!-- Date: 2010-07-20 -->
</head>
<body>

	<div class="container container_12">

		{% if messages %} 
			<div class="grid_12 notification">
				<ul class="messages"> 
					{% for message in messages %} 
					<li>{{ message }}</li> 
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{% include "_nav.html" %}

		
		<div class="grid_9" id="content">
			{% block content %}{% endblock %}
		</div>
		<div class="grid_3" id="sidebar">
			{% block sidebar %} {% include "_sidebar.html" %} {% endblock %}
		</div>	
		<div class="clear">&nbsp;</div>
		
		

		

	{% include "_footer.html" %}
		
	</div>
	

	
</body>
</html>
